// Copyright (C) 2018-Present Masato Nomiyama

.home
  padding 0 0 80px
  &-item
    padding 20px 0

  &-header
    margin 20px 0

.home-item:target .home
  &-header
    &-line
      animation-name crossInOut
      animation-duration 1.0s
      animation-delay 0.4s
      animation-timing-function ease-in-out
      animation-fill-mode forwards

.home-profile
  margin 36px 0 0

  &-item
    margin 36px 0 0

  &-image
    width 100%
    max-width 400px

.home-works
  margin 36px 0 0
  display flex
  flex-wrap wrap
  justify-content space-between

  &-card
    margin 18px 0 0

.home-biography
  margin 36px 0 0

  &-item
    margin 4px 0 0
    display: flex
    flex-direction row

.home-achievements
  margin 36px 0 0

.home-contact
  &-item
    margin 24px 0 0

@keyframes crossInOut
  0%
    margin-left auto
    margin-right 0
    width 100%
    opacity 1
  45%
    margin-left auto
    margin-right 0
    width 0px
    opacity 0.2
  46%
    margin-left 0
    margin-right auto
  55%
    width 0px
    opacity 0.2
  100%
    margin-left 0
    margin-right auto
    width 100%
    opacity 1
