// Copyright (C) 2018-Present Masato Nomiyama

.home
  height 2000px
  width calc(100% - var(--menu-width) - var(--menu-left)*2 - var(--home-left)*2)
  padding 48px calc(var(--home-left)) 48px calc(
    var(--menu-left)*2 + var(--menu-width) + var(--home-left))

  &-item
    padding 0 0 24px

  &-header
    margin 36px 0

.home-item:target .home
  &-header
    &-line
      animation-name crossInOut
      animation-duration 1.2s
      animation-delay 0.6s
      animation-timing-function ease
      animation-fill-mode forwards

@keyframes crossInOut
  0%
    margin-left auto
    margin-right 0
    width 100%
    opacity 1
  45%
    margin-left auto
    margin-right 0
    width 0px
    opacity 0.2
  46%
    margin-left 0
    margin-right auto
  55%
    width 0px
    opacity 0.2
  100%
    margin-left 0
    margin-right auto
    width 100%
    opacity 1

.profile
  margin 36px 0

  &-item
    margin 36px 0

  &-image
    width 600px

.works
  margin 36px 0
  display flex
  flex-wrap wrap
  justify-content space-between

  &-card
    margin 18px 0
