// Copyright (C) 2018-Present Masato Nomiyama

.home-works-card
  --duration 0.6s
  --line-width 3px
  margin 12px 6px 0 0
  height 237px
  width calc(50% - 6px)
  transition var(--duration)

  &-box
    display flex
    flex-direction row
    width 100%
    height 100%

  &-line
    &-top
    &-bottom
      width 0
      height var(--line-width)
      animation-duration var(--duration)
      animation-fill-mode forwards

    &-right
    &-left
      height 0
      width var(--line-width)
      animation-duration var(--duration)
      animation-fill-mode forwards

  &-line
    &-top
      animation-name crossOutTop
      animation-timing-function ease-out

    &-right
      animation-name crossOutRight
      animation-timing-function ease-in

    &-bottom
      animation-name crossOutBottom
      animation-timing-function ease-in

    &-left
      animation-name crossOutLeft
      animation-timing-function ease-out

  &-content
    width calc(100% - var(--line-width) * 2)
    height 100%
    background-position center
    background-size cover

    &-textbox
      background-color rgba(0,0,0,0.0)
      padding 36px 48px 36px 24px
      width calc(100% - 36px * 2)
      height calc(100% - 36px * 2)
      display flex
      flex-direction column
      align-items center
      justify-content center
      transition var(--duration)
      transition-timing-function ease-in-out

    &-title
      opacity 0.0
      transition var(--duration)
      align-self flex-start

    &-caption
      opacity 0.0
      transition var(--duration)
      align-self flex-start

    &-keyword
      opacity 0.0
      transition var(--duration)
      align-self flex-end
      text-align end

.home-works-card:hover .home-works-card
  &-line
    &-top
      animation-name crossInTop
      animation-timing-function ease-in

    &-right
      animation-name crossInRight
      animation-timing-function ease-out

    &-bottom
      animation-name crossInBottom
      animation-timing-function ease-out

    &-left
      animation-name crossInLeft
      animation-timing-function ease-in

  &-content
    &-textbox
      background-color rgba(0,0,0,0.5)
      padding 36px

    &-title
    &-caption
    &-keyword
      opacity 1.0

@media screen and (max-width 600px)
  .home-works-card
    width calc(100% - 6px)

  .home-works-card.delighter.started .home-works-card
    &-line
      &-top
        animation-name crossInTop
        animation-timing-function ease-in

      &-right
        animation-name crossInRight
        animation-timing-function ease-out

      &-bottom
        animation-name crossInBottom
        animation-timing-function ease-out

      &-left
        animation-name crossInLeft
        animation-timing-function ease-in

    &-content
      &-textbox
        background-color rgba(0,0,0,0.5)
        padding 36px

      &-title
      &-caption
      &-keyword
        opacity 1.0

  .home-works-card.delighter.ended .home-works-card
    &-line
      &-top
        animation-name crossOutTop
        animation-timing-function ease-out

      &-right
        animation-name crossOutRight
        animation-timing-function ease-in

      &-bottom
        animation-name crossOutBottom
        animation-timing-function ease-in

      &-left
        animation-name crossOutLeft
        animation-timing-function ease-out

    &-content
      &-textbox
        background-color rgba(0,0,0,0.0)
        padding 36px 48px 36px 24px

      &-title
      &-caption
      &-keyword
        opacity 0.0

@keyframes crossInTop
  0%
    width 0
  50%,100%
    width 100%

@keyframes crossInRight
  0%,50%
    height 0
  100%
    height 100%

@keyframes crossInBottom
  0%,50%
    width 0
  100%
    width 100%

@keyframes crossInLeft
  0%
    height 0
  50%,100%
    height 100%

@keyframes crossOutTop
  0%,50%
    width 100%
  100%
    width 0%

@keyframes crossOutRight
  0%
    height 100%
  50%,100%
    height 0

@keyframes crossOutBottom
  0%
    width 100%
  50%,100%
    width 0

@keyframes crossOutLeft
  0%,50%
    height 100%
  100%
    height 0
