// Copyright (C) 2018-Present Masato Nomiyama

@import 'menu'
@import 'home'

html, body, #root, #app
  height 100%
  margin 0
  background-color white
  scroll-behavior smooth

  --menu-width 200px
  --menu-left 36px
  --home-left 36px

a
  text-decoration none
  color none
