// Copyright (C) 2018-Present Masato Nomiyama

@import 'menu'
@import 'home'
@import 'xnavi'

html, body, #root, #app
  height 100%
  margin auto
  background-color white
  scroll-behavior smooth

  --menu-width 200px
  --menu-left 40px
  --content-left 48px

a
  text-decoration none
  color none

.content
  width calc(100% - var(--menu-width) - var(--menu-left)*2 - var(--content-left)*2)
  padding 0 var(--content-left) 36px calc(var(--menu-left)*2 + var(--menu-width) + var(--content-left))

.content-wide
  width calc(100% - var(--content-left)*2)
  padding 0 var(--content-left) 36px var(--content-left)

.exception
  padding 40px 0
