// Copyright (C) 2018-Present Masato Nomiyama

.menu
  &-title
    margin 48px 0

    &-logo
      height 60px
      margin 0 0 12px

  &-list
    &-item
      padding 6px 0

      &-text
        opacity 1
        transition opacity 0.4s ease
      &-line
        position absolute
        right var(--menu-left)
        width 0px
        opacity 0
        transition width 0.4s ease, opacity 0.4s ease

    &-item:hover .menu-list-item
      &-text
        opacity 0.25
        transition opacity 0.2s ease
      &-line
        left var(--menu-left)
        width var(--menu-width)
        opacity 1
        transition width 0.2s ease, opacity 0.2s ease

.mobile-menu
  &-title
    margin 48px 24px

    &-logo
      height 60px
      margin 0 0 12px

  &-list
    &-item
      padding 12px 24px

      &-text
        opacity 1
        transition opacity 0.4s ease
      &-line
        width 0px

    &-item:active .mobile-menu-list-item
      &-text
        opacity 0.25
        transition opacity 0.2s ease

@media screen and (max-width 600px)
  .menu
    position relative
    width 100%

    &-header-title
      padding 6px

@media screen and (min-width 600px)
  .menu
    position fixed
    z-index 1
    height 100%
    width var(--menu-width)
    padding 0 var(--menu-left)
