// Copyright (C) 2018-Present Masato Nomiyama

.works
  padding 30px 0 80px

  &-item
    padding 12px 0

  &-image
    width 100%
    margin 16px 0 0

  &-inner
    &-image
      width 100%
      max-width 300px
      margin 0 0 8px

@media screen and (max-width 479px)
  .works
    &-movie
      height 162px
      width 288px
