// Copyright (C) 2018-Present Masato Nomiyama

.xnavi
  &-image
    height 400px
    width 100%
    object-fit cover

  &-movie
    position absolute
    top 0

  &-content
    padding 0 var(--content-left) 0 var(--content-left)
